@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    height: 100px;
    background-color: #065471;
}

#logo {
    height: 100px;
    width: 100px;
    margin-left: 1%;
}

.menuitem {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.menu {
    display: inline-block;
    height: 100%;
    margin-left: -20px;
}


.menuitem a {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.menuitem a:hover {
    color: #065471;
}

.nav {
    height: 40px;
    background-color: #EDB848;
    display: block;
}

#hoofdtekst {
    color: #EDB848;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.ht {
    display: inline-block;
    position: absolute;
    top: 30px;
    margin-left: 50px;
}