#news1
{
  margin-top:300px;
  float: left;
  width:400px;
  margin-left:300px;
}
#news2
{
  float: left;
  margin-top:300px;
  margin-left;
  width: 450px;

}
#news3
{
  float:left;
  margin-top:0px;
  margin-left:300px;
  width: 400px;
}
#news4
{
  float: left;
  margin-top:0px;
  margin-left:0px;
  width: 400px;
}
