.main
{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 100px;
}
table
{
    margin-top: 5em;
    margin-right:200px;
    grid-column: 4/8;
    width: 100%;
}
td
{
    padding: 1em;
}
#news1
{
  
  width:450px;
  margin-right:20%;
}
#news2
{
  float: left;
  width: 450px;
}
#news3
{
  float:left;
  width: 450px;
}
#news4
{
  float: left;
  width: 450px;
}
#news1, #news2, #news3, #news4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
padding: 1em;
    background: white;
}

#news1:hover, #news2:hover, #news3:hover, #news4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.button{
  background:#065471;
  color:#EDB848;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:#065471;
}
.button:before,.button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #065471;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before,.button:hover:after{
  width:100%;
  transition:800ms ease all;
}
@media screen and (max-width: 800px) {
  #news1,#news3,#news4 {
    margin-left:-500px; /* The width is 100%, when the viewport is 800px or smaller */
    width:180px;
      font-size:12px;
  }
    #news2
    {
        margin-left:-400px;
        width:180px;
        font-size:12px;
    }
    #news4
    {
        margin-left:-400px;
        font-size:12px;
    }
}