
.main
{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 100px;
}
#loterij
{
    grid-column: 1/16;
    text-align: center;
}
.inschrijven
{
    grid-column: 4/7;
    width: 300px; 
    height:150px; 
    background: white; 
    margin:10px; 
    border:1px solid black;
    text-align: center; 
    padding: 1em;
}
.winnaars
{
    grid-column: 8/11;
    width: 300px;  
    height:150px; 
    background:white; 
    margin:10px; 
    border:1px solid black;
    grid-column: 8/10;
    padding: 1em;
    text-align: center;
}
.button{
  background:#065471;
  color:#EDB848;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:#065471;
}
.button:before,.button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #065471;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before,.button:hover:after{
  width:100%;
  transition:800ms ease all;
}
li
{
    list-style-type: none;
}
